---
layout: base.njk
section: project
---
<div class="page-container">
  <h1>
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
     <a href={{ project_url }}>{{ title }}</a>
  </h1>

  {{ layoutContent | safe }}

  <div class="hr"></div>

  <nav>
    <a href="{{ '/projects/' | url }}">← View All Projects</a>
  </nav>
</div>
