.home-page {
  max-width: var(--site-width);
  margin: 0 auto 60px;
  padding: 0 20px 20px;

  @media (min-width: 1024px) {
    padding: 20px 40px;
  }
}

.home-page__bg-square {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    position: absolute;
    left: auto;
    top: 95px;
    right: 0;
    bottom: auto;
    width: 100%;
    height: 100%;
    max-height: 60%;
    max-width: 35%;
    min-width: 300px;
    border-radius: var(--border-radius);
    background-color: var(--color-bg-accent);
    z-index: -1;

    :root[data-theme="dark"] & {
      background-color: var(--color-bg-accent-dark);
    }
  }
}

.overlay{
  position: absolute;
  max-width: var(--site-width);
  margin-right: auto;
  margin-left: auto;
}

.hero {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto auto;
  column-gap: 0;
  max-width: 1100px;
  margin: 30px auto;
  padding: 0px 50px 50px;

  @media (min-width: 1024px) {
    grid-template-columns: 3fr 3fr;
    row-gap: 20px;
    margin: 50px auto;
  }
}

.hero__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__image {
  max-width: 300px;
  border-radius: var(--border-radius);
  transition: filter 0.4s ease-out;

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}

.hero__title {
  @media (min-width: 1024px) {
    margin-top: 0;
    font-size: 3em;
    color: var(--color-bg-secondary);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
}

.hero__body {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2em;

  > *:first-child {
    margin-top: 0;
  }
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  padding-top: 20px;

  :root[data-theme="dark"] & {
    border-top: 1px solid (var(--color-border-dark));
  }
}

.list-header__title {
  margin: 0;
}

.uhack {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--color-bg-container);
  border-style: solid;
  border-color: var(--color-border-dark);
  padding: 24px;
}

.button-reg {
  background-color: #FAD85E;
  border-radius: 24px;
  border-style: solid;
  border-color: var(--color-border-dark);
  color: black;
  font-size: smaller;
  font-weight: 600;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  width: fit-content;

  &:hover {
    background-color: black;
    color: #FAD85E;
    padding: 8px 20px 9px;
  }
}