---
layout: base.njk
section: home
---
<div class="home-page">
	{# <div class="home-page__bg-square"></div> #}

  {# Hero #}
  <img class="overlay" src="/assets/img/Hero_animation.gif">
  <div class="hero">
    <div class="hero__col">
      {% image
        home.image,
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image shadow",
        "eager"
      %}
    </div>
    <div class="hero__col">
      {# <h1 class="hero__title gradient-text">{{ home.title }}</h1> #}
      <h1 class="hero__title">{{ home.title }}</h1>
      {% if home.body %}
        <div class="hero__body">{{ home.body | markdown | safe }}</div>
      {% endif %}
    </div>
  </div>
  <div class="uhack">
  <p><b>unitaryHACK</b> is a virtual event encouraging people to make contributions to the open source quantum ecosystem. The event will run May 28-June 11, 2025, and hackers have the opportunity to win cash bounties! For more information, read our hacker guide and check out what happened in unitaryHACK 2023. In the meantime, come hang out on Discord!</p>
  <br>
  <p>Make sure you register to be eligible to claim your bounties!</p>
  <a href="/register" class="button-reg">Register here</a>
  </div>

</div>
