---
layout: base.njk
section: home
---
<div class="home-page">
	{# <div class="home-page__bg-square"></div> #}

  {# Hero #}
  <div class="hero">
    <div class="hero__col">
      {% image
        home.image,
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image shadow",
        "eager"
      %}
    </div>
    <div class="hero__col">
      {# <h1 class="hero__title gradient-text">{{ home.title }}</h1> #}
      <h1 class="hero__title">{{ home.title }}</h1>
      {% if home.body %}
        <div class="hero__body">{{ home.body | markdown | safe }}</div>
      {% endif %}
    </div>
  </div>
  <div class="uhack">
  <p><b>unitaryHACK</b> is a virtual event encouraging people to make contributions to the open source quantum ecosystem. The event will run May 28-June 11, 2025, and hackers have the opportunity to win cash bounties! For more information, read our hacker guide and check out what happened in unitaryHACK 2023. In the meantime, come hang out on Discord!</p>
  <br>
  <p>Make sure you register to be eligible to claim your bounties!</p>
  <a href="/register" class="button-reg">Register here</a>
  </div>
  <br></br>

  {# Join an in-person Hackday! #}
<div class="uhack">
<div class="list-header">
  <h2 class="list-header__title">Join an in-person Hackday!</h2>
</div>
<ul style="list-style-type: square">
  <li>
    May 31: Aalto University CS in Helsinki starting at 18:00 for 24 hours. Pizza available!
  </li>
  <li>
    May 31: Auditorio Raúl J. Marsal, Ciudad Universitaria, UNAM in Mexico City at 16 HRS UTC-6
  <li>
    June 11: University of Washington HUB 145 from 9 am to 5 pm, food will be available!
  </li>
</ul>
</div>

</div>
 #}
